<% if @building.present? %>
  <h2>People (<%= link_to @building.users.count, manage_memberships_path(building_id: @building.slug) -%>) </h2>
<% else %>
  <h2>People (<%= link_to "#{User.managed_by(user: current_user, membership_type: params[:membership_type] ).count}", manage_memberships_path(building_id: nil )  -%>) </h2>
<% end %>

<% if @building.present? %>
<p>
  <%= link_to "users (#{@building.users.count})", manage_memberships_path(building_id: @building.to_param)  -%>
  <%= link_to "tenants (#{@building.memberships.tenant.count})", manage_memberships_path(building_id: @building.to_param, membership_type: Membership::MEMBERSHIP_TYPE_TENANT) -%>
  <%= link_to "guests(#{@building.memberships.guest.count})", manage_memberships_path(building_id: @building.to_param, membership_type: Membership::MEMBERSHIP_TYPE_GUEST) -%>
  <%= link_to "managers(#{@building.memberships.manager.count})", manage_memberships_path(building_id: @building.to_param, membership_type: Membership::MEMBERSHIP_TYPE_MANAGER) -%>
<p>
<% end  %>

<% if @members.empty? %>
<p>There are no people matching your search.</p>
<% else %>

<table class="table">
 <tr>
 <th>Email</th>
 <th>Member Types</th>
 </tr>
<% @members.each do |member| %>
  <tr>
   <td><%= member.email -%></td>
   <td>
     <% member.memberships.includes(:building).where(building_id: current_user.owned_and_managed_properties).each do |membership| %>
       <% if !membership.landlord?  %>
         <%= link_to "remove #{membership.membership_type.downcase}", 
		       manage_membership_path(membership.to_param, building_id: membership.building.to_param),
		       data: { confirm: "Are you sure that you would like to remove #{membership.user.email} as a #{membership.membership_type.downcase} from #{membership.building.address} ?" }, 
		       method: :delete %> 
       <% end %>
     <% end %> 
   </td>
</tr>
<% end %>
</table>
<p>
  <%= paginate(@members) -%>
</p>
<% end %>
