<h2>People</h2>

<%= render partial: 'search_filters' %>
<% if @users.empty? %>
<p>There are no people matching your search.</p>
<% else %>

<table class="table">
 <tr>
 <th>User</th>
 </tr>
<% @users.each do |user| %>
  <tr>
   <td><%= signature(user) -%>
     <% user.memberships.includes(:building).where(building_id: current_user.owned_and_managed_properties).each do |membership| %>
       <% if !membership.landlord?  %>
         <br />
         <small>
	 <%= building_membership_relationship(membership) -%>
	 <%= remove_building_relationship_link(membership) -%>
	 <%= new_message_link(membership) -%>
         </small>
     <% end %> 
    <% end %> 
   </td>
</tr>
<% end %>

</table>
<p>
  <%= paginate(@users) -%>
</p>
<% end %>
