<% @messages.each do |message| %>
<div id="message_<%=message.id-%>">
<% if action_name == "inbox"%>
<%= user_profile_image(@building, message.sender, 'small', 'fit') -%>
<%= link_to message.sender.public_name , building_user_path(@building, message.sender ) %> 
<% elsif action_name =="outbox"%>
<%= user_profile_image(@building, message.recipient, 'small', 'fit') -%>
<%= link_to message.recipient.public_name , building_user_path(@building, message.recipient) %>
<% end %>
<%= link_to message.created_at.strftime(upstairs_time_format), building_message_path(@building, message)  %> 
<p><%= message.body -%> <small><%= link_to 'reply', new_building_user_message_path(@building, message.sender, parent_id: message.id ) -%> </small> </p>
</div>
<% end %>
<%= paginate(@messages) -%>
