<h4><%= @building.address -%> </h4>
<p class="small"><%= link_to 'edit', edit_manage_building_unit_path(@building, @unit) -%> </p>

<h4><%= @unit.name %></h4>

<% if @unit.tenancy.present? %>
Rented to <%= @unit.tenancy.user.email -%> 
<% else %>
<p> This unit is not currently rented. </p>
<% end %>

<p>
<%= link_to 'List all building units', manage_building_units_path(@building) %>
</p>
