<div class="content-Neighbor">
    <h1>Members</h1>

<ul >
<% @memberships.each do |membership| %>
  <li>
    <%= user_profile_image(@building, membership.user, 'small', 'fit') -%>
    <%= landlord_link(user: membership.user, building: @building)-%>
    <%= verified_link(user: membership.user, building: @building)-%>
    <%= link_to username_or_anonymous(membership.user), building_user_path(@building, membership.user.slug) -%>
    joined at <%= membership.user.created_at.strftime(upstairs_time_format) -%>.
    <% if membership.user != current_user %>
    <%= link_to 'send message',  new_building_user_message_path(@building, membership.user.slug) %>
    <% end %>
  </li>
<% end %>
</ul>
</div>
