<h1>Settings</h1>

<h2>My Buildings</h2>

<% @user.buildings.each do |building|-%>
   <strong><%= link_to building.address, building_path(building) -%></strong>
    <% if current_user.member_of?(building)%>
       <small><%= link_to 'leave', 
		  building_membership_path(building, building.membership(current_user)), 
		  method: :delete, confirm: "Are your sure that you want to leave this coummnity?" -%></small>
  <% end %>
  <br />
<% end %>
<p><%= link_to 'join another buidling', buildings_path -%></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username, "Username" %><br/>
    <%= f.text_field :username, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :avatar, "Profile Picture" %>
    <%= f.attachinary_file_field :avatar %>
  </div>
  <br />
  <div class="field">
    <strong>Email: <%= resource.email -%>  </strong>
    <%= f.label :email, "Change Email: ", placeholder: "Enter your new email address..." %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password,  "Revise Password" %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "What’s your new password?" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm Password"%><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Enter your new password again." %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", placeholder: "Enter your current password..." %>
  </div>


  <div class="field">
    <%= f.label :use_my_username, "Post and comment under my username" %>
    <%= f.check_box :use_my_username %>
  </div>

  <div class="field">
    <%= f.label :phone ,"Phone number" %>
    <%= f.text_field :phone , autocomplete: "on", placeholder: "Enter your phone # here" %>
  </div>

  <div class="field">
    <%= f.label :ok_to_send_text_messages, "Upstairs can send me text messages." %>
    <%= f.check_box :ok_to_send_text_messages %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>

<% end %>

<br/>
<p><%= link_to 'Log out', destroy_user_session_path, method: :delete  -%> </p>
<br />

<h3>Cancel my account</h3>
Bummer! Was it something we said?
<p> <%= button_to "Cancel my account", 
	registration_path(resource_name), 
	data: { confirm: "Are you sure that you would like to delete your account? Doing so will remove all trace you."}, method: :delete %></p>
