<h1>Join Upstairs.io!</h1>

<h2>Register for an account, and let the happiness begin</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if params[:invitation_id].present? %>
    <% @invitation = Invitation.where(token: params[:invitation_id] ).first %>
    <% resource.invitation_id = @invitation.id if @invitation.present? %>
  <% end %>
  <%= f.hidden_field :invitation_id %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.attachinary_file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :username %>Optional (This is how other users will know you)<br />
    <%= f.text_field :username, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :phone %>Optional (If you would like to receive text messages)<br />
    <%= f.text_field :phone , autocomplete: "off" %>
  </div>


  <div class="actions">
    <%= f.submit "Join Upstairs" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
