<div class="comments-list">
<% if commentable.comments.any? %>
<%= pluralize(commentable.comments.count, 'comment' ) %>
<% end %>
<%= link_to "add your comment" , new_polymorphic_path([commentable, Comment.new]) -%>

<% commentable.comments.each do |comment| %>
 <% next if comment.id.blank? %>
 <div class="comment-body">
 <%= by_line(comment) -%>
 <%= comment.body -%>
 <br clear="both">
 <%= render partial: '/replies/replies', locals: { comment: comment} %>
 </div>
<% end %>
</div>
