<div class="comments-list">
<% if commentable.comments.any? %>
<p><%= pluralize(commentable.comments.count, 'comment' ) -%></p>
<% end %>
<p><%= link_to "comment" , new_polymorphic_path([commentable, Comment.new]) -%></p>
<% commentable.comments.each do |comment| %>
 <% next if comment.id.blank? %>
 <div class="comment-body">
 <%= by_line(comment) -%>
 <%= comment.body -%>
 <br clear="both">
 <%= render partial: '/replies/replies', locals: { comment: comment} %>
 </div>
<% end %>
</div>
<br clear="all">
