<h2>Events</h2>

<%= render partial: '/manage/events/search_summary' %>

<%= render partial: 'filters' -%>

<% if @events.empty? %>
  <p>There are no events matching your search.</p>
<%  else %>

<table>
  <thead>
    <tr>
      <th>Building</th>
      <th>Event</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
	 <td> 
          <%= link_to event.building.short_name, manage_building_path(event.building) %>
	 </td> 
	 <td> 
          <%= simple_format(event.title) %>
	  <small>
	    starts: <%= event.starts.strftime(upstairs_time_format) %>
	    <%= link_to 'manage', manage_event_path(event.id) %> 
	    created by: <%= signature(event.user) %>
	  </small>
	</td> 
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= paginate(@events) %>
</p>

<% end %>
