<h4><%= @building.address -%></h4>
<%= user_profile_image(@building, @user, 'small', 'fit') -%>
<h5 class="inline"><%= username_or_anonymous(@user) -%></h5>

<% if current_user == @user %>
    <small><%= link_to 'Update my profile', edit_user_registration_path %></small>
<%  else %>
   <%= link_to 'send message' , new_building_message_path(user_id: @user.slug) -%>
<% end %>


