<h1 class="inline"><%= username_or_anonymous(@user) -%></h1>
<% if current_user == @user %>
  <%= link_to 'Update my profile', edit_user_registration_path %>
<h2><%= @building.address -%></h2>
<div id="my-buildings">
<h2>My Buildings</h2>
<% @user.buildings.each do |building| %>
<%= link_to building.address, building_path(@building) %>
<% end %>
</div>
<%= link_to 'Join another building', buildings_path -%>
<% end %>

<h2>Photo</h2>
<%= user_profile_image(@building, @user, 'huge', 'fit') -%>

<br clear="all">
<h2><%= username_or_anonymous(@user) %>'s activity </h2>
<% @user.activities.limit(20).order('created_at desc').each do |activity| %>
<%= activity_summary(activity) -%> <br> 
<% end %>
