<%= stylesheet_link_tag "home" %>
    <!--
    
    -->
    <%=  image_tag("home/color_fill_1.png", class:"color_fill_1")-%> 
    <%=  image_tag("home/layer_4.png", class:"layer_4") -%>
    
    <div id="content-container" >
          
        
        
         <%=  image_tag("home/png_logo.png", class:"png_logo") -%>   

<center>
<div id="find-your-builiding-form">
<%= form_tag find_building_path , method: :get do |f| %>
        <%= text_field_tag :address, 
                params[:address], 
                id: 'gmaps-input-address', 
                placeholder: 'Find your building' -%>
<%=  submit_tag 'Search', id: 'find-my-building-submit'  %>
<% end %>
</center>
</div>

</div>

        <div id="the_social_network__for_your_building_" >
            The social network <br/>
        </div>         
        <div id="for_your_building_" >
             for your building.
        </div>   
        <%=  image_tag("home/arrow_down.png", class:"arrow_down") -%> 

                 <div id="getTheApp">
            <div id="get_the_app" >
                Get the App
            </div>
            <%=  image_tag("home/google_png__2x.png", class:"google_png__2x") -%>  
            <%=  image_tag("home/apple_png__2x.png", class:"apple_png__2x")-%>  
        </div>
        <div id="ellipse_1"  ></div>
    </div>
    
