<%= simple_form_for([@community, @event]) do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.input :photos, as: :attachinary %>

    <div class='input-group date container-datetime' >
      <%= f.text_field :starts, placeholder: 'Date', class: 'form-control', id: "datetimepicker" %>
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-time"></span>
     </span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<script type="text/javascript">
  $('#datetimepicker').datetimepicker({format: 'YYYY-MM-DD' });
 </script>
