<h1 class="inline">Calendar of Events </h1> 
<small> <%= link_to 'Add new event', new_community_event_path(@community) -%></small>

<p>
<%= link_to 'list view', params.merge(view: 'list') -%>
</p>

<%= month_calendar events: @events, 
                   pevious_link: month_calendar_previous_link,  
                   title: month_calendar_header_options do |date, events| 
	   %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= link_to event.title, community_event_path(@community, event), class: "calendar-event" %>
    </div>
  <% end %>
<% end %>

<p> <%= link_to 'Add new event', new_community_event_path(@community) -%></p>
