<h1 class="inline">Community Event </h1>
<small> <%= link_to 'calendar', calendar_path(@community) %> </small>
<br clear="all">
<h2 class="inline"><%= @event.title %></h2>
<% if @event.owned_by?(current_user) %>
  <small>posted by <%= link_to @event.user.public_name, community_user_path(@community, @event.user ) %> <%= @event.created_at.strftime(upstairs_time_format) -%></small> 
  <small><%= link_to 'Edit', edit_community_event_path(@community, @event) %></small> 
<% end %>


<div class="event">
<strong><%= @event.starts.strftime(upstairs_time_format) %></strong>
<%= @event.body %>
<div id="comments">
<%= render partial: '/comments/comments', locals: { commentable: @event}  %>
</div>
</div>





