<h2>Alerts</h2>

<% current_user.owned_and_managed_properties.each do |building| %>
	<%= link_to "#{building.short_name} (#{building.alerts.count})", 
              manage_alerts_path(buidling: building.to_param) -%>
<% end %>

<% if @alerts.empty? %>
  <p>There are no alerts matching your search.</p>
<%  else %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @alerts.each do |alert| %>
      <tr>
	 <td> 
          <%= alert.message %>
	  <%= link_to 'manage', manage_alert_path(alert.id) %> 
	</td> 
	<td>
		<%= signature(alert.user) %> 
		(<%= link_to alert.building.short_name, manage_building_path(alert.building) %>)
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= paginate(@alerts) %>
</p>

<% end %>
