<div id="header"  >
    <div id="rectangle_8"  ></div>
    <nav id="nav" role="navigation" class="filters">
        <a href="#nav" title="Show navigation">Show navigation</a>
        <a href="#" title="Hide navigation">Hide navigation</a>
        <ul class="accordion">
            <li>
                <a href="javascript:void(0)" class="js-accordion-trigger">
                    <div id="filters_title" >Filters</div>
                     <div id="arrow" >T</div>
                </a>
            </li>
           <li>
              <%= render partial: '/layouts/add_sub_menu'-%>
            </li>
        </ul>
    </nav>
    <div id="rectangle_2"  ></div>
    <div id="searchC"  >
        <%= form_tag building_tickets_path(@building), method: :get  do %>
        <%= submit_tag 's', id: 'search' %>
        <%= text_field_tag :searchTextField %>
        <% end %>
    </div>
    <div id="rectangle_2"  ></div>
</div>
<%= form_tag building_tickets_url(@building), method: :get do %>
<% end %>

