<h1 class="inline">Tickets</h1>
<small><%= pluralize(@community.tickets.open.count, 'open ticket')-%></small>
<small><%= pluralize(@community.tickets.closed.count, 'closed ticket')-%></small>
<p><%= link_to 'File a New Ticket', new_community_ticket_path(@community) %></p>
<%= render partial: '/communities/no_landlord' %>
<br/>
<% if @tickets.empty? %>
<p>There are no tickets for this community.</p>
<% else %>
<tickets>
  <left><strong>summary</strong></left>
  <middle><strong>severity</strong></middle>
  <right><strong>status</strong></right>
  <% @tickets.each do |ticket| %>
    <%= render partial: 'ticket', locals: {ticket: ticket } -%> 
  <% end %>
<% end %>
</tickets>

