<div class="ticket">
<h4><%= @ticket.title %> <%= ticket_severity_badge(@ticket) -%> <%= ticket_status_badge(@ticket)-%> </h4>
<%= @ticket.body %> 
<br >
<% @ticket.photos.each do |photo| %>
  <%= cl_image_tag(photo.path, { size: '200x300', crop: :fit }) %>
<% end %>
<br clear="all">
<%= render partial: '/comments/comments', locals: {commentable: @ticket}  %>

<p><%= link_to 'list all tickets' , community_tickets_path(@community) -%> </p>

</div>
