<% if @building.landlord.blank? %>
  <p><%= link_to "Invite your landlord",  new_building_landlord_invitation_path(@building) -%></p>
  <p>Your landlord is not associated with this building. </p>
<% else %>
	<p> Your landlord is <strong><%= link_to @building.landlord.public_name, building_user_path(@building,@building.landlord.slug)  -%></strong><br/>
<small><strong>Phone: </strong><%= @building.landlord.phone-%></small><br />
<small><strong>Email: </strong><%= @building.landlord.email-%></small><br />
<small><%= link_to 'send message', new_building_user_message_path(@building, @building.landlord.slug) -%></small>
</p>
<% end %>
