<div id="background">
<div id="group_my_space">

<div id="split"  >
  <div id="rectangle_7_copy_3"></div>
  <div id="rectangle_7_copy_2"></div>
</div>

<%= image_tag 'gradient_fill_2.png', id: 'gradient_fill_2' -%>
<%= image_tag 'pattern_fill_1_copy.png', id: 'pattern_fill_1_copy'-%>
</div> <!-- background -->

<%= upstairs_home_page_icon %>
<%= building_home_icon(building: @building) %>
<%= building_bulletin_board_icon(building: @building) %>
<%= building_alerts_icon(building: @building) %>
<%= building_calendar_icon(building: @building) %>
<%= building_messages_icon(building: @building) %>
<%= building_members_icon(building: @building) %>
<%= building_repairs_icon(building: @building) %>
<%= building_invite_icon(building: @building) %>
<%= building_public_profile_icon(building: @building, user: current_user) %>
</div> <!-- menu -->
</div> <!-- group_my_space -->
