<% if @building.name.present? %>
<h2 class="building-name inline"><%= @building.name-%> </h2>	
<small>
<%= link_to 'edit' , edit_building_path(@building) -%> 
<% else %>
<%= link_to 'name your building' , edit_building_path(@building) -%> 
<% end %>
</small>
<h3><%= @building.address -%></h3>
<small><%= link_to pluralize(@building.memberships.count, 'member'), building_memberships_path(@building) -%></small>

<div id="landlord">
<%= render partial: '/buildings/landlord' %>
</div>

<div id="map" style='width: 200px; height: 200px; margin:10px;'></div>
<buildingimage>
<% if @building.photos.any? %>
  <%= cl_image_tag(@building.photos.first.path, { width: '220', crop: :scale}) %>
  <br>
  <%= link_to 'Change photo' , edit_building_path(@building) -%> 
<% else %>
  <%= link_to 'Add a photo', edit_building_path(@building) -%> 
<% end %>
<br />
<%= link_to "See all photos", building_photos_path(@building) -%>
</buildingimage>

<buildingmembership>
