<% if @posts.empty? %>
<p>There are no notes for this building.<p>
<% else %>
<% @posts.each do |post|%>
  <post>
  <div class="type-system-geometric">
  <h3> <%= link_to post.title , building_post_path(@building, post) -%> </h3> 
  <%= by_line(post)-%>
  <div class="post-body-thumb">
  <% if false and post.photos.any? -%>
    <span class="post-image">
    <%= cl_image_tag(post.photos.first.path, { size: '175x175', crop: :fit }) %>
    </span>
  <% end %>
  <%= post.words(Building::HOMEPAGE_WORD_MAX) -%>
  <% if post.word_count > Building::HOMEPAGE_WORD_MAX  %>
     <p><%= link_to 'continue reading...', building_post_path(@building, post) %></p>
   <% end %>
  </div>
  </div>
  </post>
  <% end %>
<% end %>
<!--%= paginate(@posts) -%-->
