<h4>Alerts</h4>
<% if @alerts.any? %>
  <ul>
    <% @alerts.each do |alert| %>
      <li>
      <p>
        <%= link_to alert.message, building_alert_path(@building, alert) %><br />
	  <%= by_line(alert, with_icon: true) -%>
          <% if alert.owned_by?(current_user) %>
            <%= link_to 'edit', edit_building_alert_path(@building, alert) -%>
          <% end %>
         </p>
       </li>
    <% end %>
  </ul>
<%= paginate(@alerts) -%>
<% else %>
  <% if params[:searchTextField].present? %>
    <p>There are no alerts matching your query.</p>
  <% else %>
    <p>There are no alerts for this building.</p>
  <% end %>
<% end %>

<%= text_message_cta -%>
