<h1 class="inline">Alerts</h1>

<h2>Create a new Alert</h2>

<%= render 'form' %>

<br />

<h3>Past Alerts</h3>

<ul>
<% @alerts.each do |alert| %>
  <li>
    <%= alert.created_at.strftime(upstairs_time_format) %>
    by <%= link_to alert.user.public_name, community_user_path(@community, alert.user) %> 
    <%= link_to alert.message, community_alert_path(@community, alert) %>
  </li>
<% end %>
</ul>

<br />

<%= paginate(@alerts) -%>
