
<h3>Alerts</h3>
<div class="content-posts">
<!--%= render partial: 'form' -%-->

<% if @alerts.any? %>
    <div class="alertList">
    <% @alerts.each do |alert| %>
         <div class="note alert_fiche">     
                <div class="colorAlert"></div>
                <div class="alert-text" >
                    <div class="text-alert">
                        <div class="alertMsg">
                        <%= truncate(alert.message, length: 50, omission: '... (continued)' ) -%> 
                        </div>
                        <div class="editeBtn">
                        <% if alert.owned_by?(current_user) %>
                            <%= link_to 'edit', edit_building_alert_path(@building, alert) -%>
                        <% end %>
                        </div>
                    </div>
                    <div class="alert_details">
                        <div class="user-name">
                        <div class="photo" style="<%= show_user_bg(alert.user, 'small', 'fit') %>"></div><%= link_to username_or_anonymous(alert.user), building_user_path(@building, alert.user.slug) -%></div>
                     </div>
                 </div>
          </div>
        <% end %>  
    </div>     
<%= paginate(@alerts) -%>
<% else %>
  <% if params[:searchTextField].present? %>
    <p>There are no alerts matching your query.</p>
  <% else %>
    <p>There are no alerts for this building.</p>
  <% end %>
<% end %>

<%= text_message_cta -%>
