<h1>Messages</h1>

<%= render partial: 'filter_messages' %>

<% if @messages.empty? %>
  <p>There are no messages matching your search.</p>
<% else  %>
<table class="table">
  <tr>
    <th><%= (params[:filter] == Message::MESSAGE_TO) ? 'From' : 'To' -%></th>
    <th>message</th>
    <th>actions</th>
  </tr>
   <% @messages.each do |message| %>
   <tr>
     <td>
     <% if [Message::MESSAGE_TO, Message::MESSAGE_UNREAD].include?(params[:filter]) %>
       <%= signature(message.sender) %> 
     <% elsif params[:filter] == Message::MESSAGE_FROM  %>
       <%= link_to message.recipient.public_name , building_user_path(message.building, message.recipient) %>
     <% end %>
       <br />
       <small><%= time_ago_in_words(message.created_at)%> ago</small>
     </td>

     <td>
       <%= message.body -%>
     </td>

     <td>
       <%= link_to 'reply', new_building_user_message_path(message.building, message.sender, parent_id: message.id ) -%>
       <% if params[:filter] == Message::MESSAGE_TO %>
         <% if message.is_read?  %>
           <%= link_to 'mark as unread', mark_as_unread_manage_building_message_path(message.building, message.id) , method: :put %> 
          <% elsif  %>
            <%= link_to 'mark as read', mark_as_read_manage_building_message_path(message.building, message.id), method: :put %> 
         <% end %>
       <% end %>
     </td>
   </tr>
  <% end %>
</table>
<p>
  <%= paginate(@messages) -%>
</p>
<% end %>
