<h1>Messages</h1>

<% if params[:filter] == Message::MESSAGE_TO %>
<h2>Inbox</h2> 
<small> <%= link_to 'Sent messages' , params.merge(filter: Message::MESSAGE_FROM ) -%></small>
<% elsif params[:filter] == Message::MESSAGE_FROM %>
<h2>Outbox</h2> 
<small><%= link_to 'Received messages' , params.merge(filter: Message::MESSAGE_TO ) -%></small>
<% end %>

<% if @messages.empty? %>
  <p>There are no messages matching your search.</p>
<% else  %>
<table class="table">
  <tr>
    <th>user</th>
    <th>message</th>
    <th>actions</th>
  </tr>
   <% @messages.each do |message| %>
   <tr>
     <td>
     <% if [Message::MESSAGE_TO, Message::MESSAGE_UNREAD].include?(params[:filter]) %>
       <%= user_profile_image(message.building, message.sender, 'small', 'fit') -%>
       <%= link_to message.sender.public_name , building_user_path(message.building, message.sender ) %> 
     <% elsif params[:filter] == Message::MESSAGE_FROM  %>
       <%= user_profile_image(message.building, message.recipient, 'small', 'fit') -%>
       <%= link_to message.recipient.public_name , building_user_path(message.building, message.recipient) %>
     <% end %>
       <%= link_to message.created_at.strftime(upstairs_time_format), building_message_path(message.building, message)  %> 
     </td>

     <td>
       <%= message.body -%>
     </td>

     <td>
       <%= link_to 'reply', new_building_user_message_path(message.building, message.sender, parent_id: message.id ) -%>
       <% if params[:filter] == Message::MESSAGE_TO %>
         <% if !message.read?  %>
            <%= link_to 'mark as read', read_building_message_path(message.building, message), method: :put %> 
          <% elsif  %>
           <%= link_to 'mark as unread', unread_building_message_path(message.building, message) , method: :put %> 
         <% end %>
       <% end %>
     </td>
   </tr>
  <% end %>
</table>
<p>
  <%= paginate(@messages) -%>
</p>
<% end %>
