<h1>Classifieds</h1>

<h2>Category: <strong> <%= @classified.category.name %></strong></h2>

<div class="classified">
<h3>Category: <%= @classified.title %></h3>
<%= by_line(@classified)-%>

<%= render 'form' %>

<%= link_to 'view', community_classified_path(@community, @classified) %> 

</div>

<%= link_to 'list all classifieds', community_classifieds_path(@community) %>
