<h1 class="inline">Classifieds</h1>
<%= link_to 'Post an ad', new_community_classified_path(@community) -%>

<h2><%= @category.present? ? @category.name : 'All Categories' -%></h2>

<ul id="classifieds">
<% @classifieds.each do |classified| %>
<li> 
<% if classified.photos.any? %>
 <%= cl_image_tag(classified.photos.first.path, { size: '30x40', crop: :fit }) %>
<% end %>
<strong><%= link_to classified.title, community_classified_path(@community, classified) %> </strong>
<%= by_line(classified) %>
</li> 
<% end %>
</ul>

<%= paginate(@classifieds)-%>
