<h2>Classifieds</h2>
<h3><%= @category.present? ? @category.name : 'All Categories' -%></h3>

<ul id="classifieds">
<% @classifieds.each do |classified| %>
<li> 

<% if classified.photos.any? %>
 <%= cl_image_tag(classified.photos.first.path, { size: '30x40', crop: :fit }) %>
<% end %>
<strong><%= link_to classified.title, community_classified_path(@community, classified) %> </strong>
<%= by_line(classified) %>
</li> 
<% end %>
</ul>

<%= link_to 'post a new classified', new_community_classified_path(@community) %>
