<h1>Classifieds</h1>

<h2>Category: <strong><%= @classified.category.name %></strong></h2>
<div class="classified">
<h3><%= @classified.title %></h3>
<%= by_line(@classified)-%>
<p>
<%= @classified.body %>
</p>
<%= render partial: '/photos/list', locals: {photos: @classified.photos } %>
<p><%= edit_link(@classified, current_user) -%></p>
<%= link_to "send message", new_community_message_path(@community, messageable_id: @classified.id, messagable_type: 'Classified'  ) -%>
</div>
<br />
<p><%= list_all_classifieds_link(@community) -%></p>
