<h1><%= @classified.category.name %></h1>

<h2><%= @classified.title %></h2>
<%= by_line(@classified)-%>

<p>
<%= @classified.body %>
</p>
<%= render partial: '/photos/list', locals: {photos: @classified.photos } %>

<p><%= edit_link(@classified, current_user) -%></p>
