<div class="note">
  <div class="category_color texture-category-<%= post.category.color-%> " >
  <div class="category" ><%= post.category.name -%> </div>
  <div class="photo" style="<%= show_user_bg(post.user, 'large', 'fit') %>"></div>
  <div class="user-name" > <%= truncate(post.user.username, length: 6, omission: '...') -%> </div>
  <div class="ribbon-wrapper" style=" visibility: <%= (post.created_at > Time.now - 24.hours) ? 'visible' : 'hidden' -%>; " >
  </div>  
</div>
<div class="post_text">   
  <div class="header_post">
  <div class="title" ><%= link_to post.title, building_post_path(@building, post ) -%></div>
</div>
<div class="post-text" >
  <%= truncate(post.body, length: 300, omission: '... (continued)' ) -%> 
 </div>
  <div class="info_post">
    <span class="_days_ago_">
      <% if post.created_at > Time.now - 24.hours %>
        <%= time_ago_in_words(post.created_at) -%> ago
      <% else %>
         <%= post.created_at.strftime("%B %d at %I:%M %p") -%>
       <% end %>
      </span>
    </div>
  </div>    
</div>
