<h1><%= post.title -%></h1>
<%= by_line(post) -%>
<%= link_to 'edit', edit_community_post_path(post.postable, post ) -%>
<div class="post-body">
<% if post.photos.any? %>
<span class="post-image"> <%= cl_image_tag(post.photos.first.path, { size: '300x500', crop: :fit }) %> </span>
<% end %>
<%= post.body  -%>
</div>
<% post.photos.order('created_at asc').each_with_index do |photo,i| %>
   <% next if i == 0 %>
   <%= cl_image_tag(photo.path, { size: '300x500', crop: :fit }) %>
<% end %>

