  <div id="note_pair">
   <div id="rectangle_8_copy"  ></div>
   <%= image_tag"photo.png" , id: "photo" %>
   <div id="category_color"  ></div>
   <%= image_tag"shadow.png", id: "shadow" %>
   <div id="name_" >
    Name<br/>
   </div>
   <div id="_days_ago_" >
    ..days ago<br/>
   </div>
   <div id="category" >
    Category
   </div>
   <div id="text" >
    Text
   </div>
   <div id="title" >
    Title
   </div>
   <%= image_tag"onglet.png" , id: "onglet" %>
</div>

<div id="note"  >
   <div id="rectangle_8_copy_1"></div>
   <%= image_tag"photo_1.png", id: "photo_1" %>
   <div id="category_color_1"  ></div>
   <<%= image_tag"shadow_1.png",  id: "shadow_1" %>
   <div id="name__1" >
    Name<br/>
   </div>
   <div id="_days_ago__1" >
    ..days ago<br/>
   </div>
   <div id="category_1" >
    Category
   </div>
   <div id="text_1" >
    Text
   </div>
   <div id="title_1" >
    Title
   </div>
   <%= image_tag"onglet_1.png", id: "onglet_1" %>
  </div>
