<div class="note<%= i % 1 == 0 ? '_pair' : ''  -%>">
  <%= image_tag"onglet_1.png", id: "onglet" %>
    <%= image_tag"shadow.png", class: "shadow" %>
    <%= user_profile_image(@building, post.user, 'medium', 'fit') %>
    <div class="post_text">   
       <div class="header_post">
	       <div class="category" style="color:<%=post.category.color-%>;" ><%= post.category.name -%> </div>
         <div class="title" ><%= link_to post.title, building_post_path(@building, post ) -%></div>
      </div>
      <div class="post-text" >
	<%= truncate(post.body, length: 35, omission: '... (continued)' ) -%> 
      </div>
      <div class="info_post">
          <span class="user-name" >
	     <%= truncate(post.user.username, length: 6, omission: '...') -%> 
          </span>
          <span class="_days_ago_" >    
	    <%= time_ago_in_words(post.created_at) -%> ago.
          </span>
      </div>
    </div> 
</div>
