<div id="note_pair">
      <%= image_tag"onglet_1.png", id: "onglet" %>
      <div id="category_color"  ></div>
    
      <%= image_tag"shadow.png", id: "shadow" %>
      <%= image_tag"photo.png" , id: "photo" %>
    <div id="post_text">   
      <div id="header_post">
          <div id="category" >
              Category
          </div>
          <div id="title" >
            Title
          </div>
      </div>
      <div id="text" >
        Text
      </div>
      <div id="info_post">
          <div id="name_" >
            Name
          </div>
          <div id="_days_ago_" >    
              ..days ago<br/>
          </div>
      </div>
    </div> 
</div>
<div id="note">
      <%= image_tag"onglet.png", id: "onglet" %>
      <div id="category_color"  ></div>
    
      <%= image_tag"shadow.png", id: "shadow" %>
      <%= image_tag"photo.png" , id: "photo" %>
    <div id="post_text">   
      <div id="header_post">
          <div id="category" >
              Category
          </div>
          <div id="title" >
            Title
          </div>
      </div>
      <div id="text" >
        Text
      </div>
      <div id="info_post">
          <div id="name_" >
            Name
          </div>
          <div id="_days_ago_" >    
              ..days ago<br/>
          </div>
      </div>
    </div> 
</div>  
<div id="note_pair">
      <%= image_tag"onglet_1.png", id: "onglet" %>
      <div id="category_color"  ></div>
    
      <%= image_tag"shadow.png", id: "shadow" %>
      <%= image_tag"photo.png" , id: "photo" %>
    <div id="post_text">   
      <div id="header_post">
          <div id="category" >
              Category
          </div>
          <div id="title" >
            Title
          </div>
      </div>
      <div id="text" >
        Text
      </div>
      <div id="info_post">
          <div id="name_" >
            Name
          </div>
          <div id="_days_ago_" >    
              ..days ago<br/>
          </div>
      </div>
    </div> 
</div>  
