<%= form_tag building_posts_url(@building), method: :get do %>
<%= text_field_tag :q %>
<%= submit_tag 'search' %>
<% end %>


<ul>
 <% Category.all.each do |category| %>
   <li id="category_#{category.id}">
	<%= link_to category.name, params.merge(category_id: category.id) -%> 
   </li>
 <% end %>
   <li><%= link_to 'clear search', building_posts_url(@building)-%> </li>
</ul>

<p><%= link_to 'new post', new_building_post_path(@building) %></p>


<div id="header"  >
    <div id="rectangle_8"  ></div>
    <div id="add"  >
        <div id="bkg_1"  ></div>
	<%= link_to new_building_post_path(@building) do %>
        <%= image_tag"icon_plus.png", id: "icon_plus" %>
        <%= image_tag"icon_note_add.png", id: "icon_note_add" %>
        <%  end %>
    </div>
     <div id="filters_1" >
        <div id="filters_title" >Filters</div>
        <div id="arrow" >T</div>
    </div>
    <div id="rectangle_2"  ></div>
    <div id="shearch"  >
        <div id="search" >
            s
        </div>
    </div>

    <div id="rectangle_2"  ></div>
 <br />

</div>

