<h1><%= @post.title -%></h1>

<%= link_to 'edit', edit_community_post_path(@postable, @post ) -%>

<%= @post.body  -%>

<% @post.photos.each do |photo| %>
   <%= cl_image_tag(photo.path, { size: '400x600', crop: :fit }) %>
<% end %>

<%= render partial: '/communities/comments', locals: {commentable: @post}  %>
