<h1>Listing Units for <%= @building.address -%></h1>

<% if @units.empty? %>
<% else  %>
<table>
  <thead>
    <tr>
      <th colspan="1">Unit</th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= link_to unit.name, building_unit_path(@building,unit) %>
           <small>
            <%= link_to 'edit unit information', edit_building_unit_path(@building, unit) %>
	    <% if unit.tenancy.blank? %>
	    <%= link_to 'delete unit', building_unit_path(@building,unit), 
		  method: :delete, 
		  data: { confirm: 'Are you sure?' } %>
	  <% end %>
           </small>
	</td>
	<td>
          <% if unit.tenancy.present? %>
           <%= unit.tenancy.user.email -%> 
          <% else %>
	     <%= link_to 'assign to tenant', new_unit_tenancy_path(unit) %>
	  <% end %>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate(@units) %>

<% end %>

<br />

<p>
<%= link_to 'Enter a New Unit', new_building_unit_path(@building) %>
</p>
