<h2>Posts</h2>

<%= render partial: '/manage/posts/search_summary' %>

<% if @posts.empty? %>
  <% if params[:searchTextField].blank? %>
    <p>There are no posts configured for this building.</p>
  <% else %>
     <p>There are no posts matching your search.</p>
  <% end %>
<%  else %>
<%= render partial: 'summary' -%>

<table>
  <thead>
    <tr>
      <th>Buidling</th>
      <th>Title</th>
      <th>Category</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
	<td><%= link_to post.postable.address, manage_building_path(post.building) %></td>
	<td><%= post.title %>
	  <%= link_to 'view', building_post_path(post.building, post) %> 
	  <%= link_to 'manage', manage_post_path(post.id) %> 
	</td> 
         <td><%= link_to post.category.name, params.merge(category_id: post.category.id) %></td>
	<td><%= signature(post.user) %>
	    <%= time_ago_in_words(post.created_at) %> ago
	</td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= paginate(@posts) %>
</p>

<% end %>
