<h2>Posts</h2>

<%= render partial: '/manage/posts/search_summary' %>

<% if @posts.empty? %>
  <% if params[:searchTextField].blank? %>
    <p>There are no posts configured for this building.</p>
  <% else %>
     <p>There are no posts matching your search.</p>
  <% end %>
<%  else %>
<%= render partial: 'summary' -%>

<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
	<td>
	  <small>
	   building: <%= manange_building_link(post.building) -%><br />
           category: <%= link_to post.category.name, params.merge(category_id: post.category.id) %>
	   by: <%= signature(post.user) %> <%= created_at(post) %> ago
	  <%= view_post_link(post) %> 
	  <%= manage_post_link(post) %> 
	  <br />
	  </small>
	   <%= simple_format(post.title) %>
	</td> 
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= paginate(@posts) %>
</p>

<% end %>
