<p><%= pluralize(commentable.comments.count, 'comment' ) -%></p>

<% commentable.comments.each do |comment| %>
 <p class="by-line"><%= by_line(comment) -%></p>
  <div class="comment-body">
   <%= comment.body -%>
  </div>
  <%= render partial: '/communities/replies', locals: {comment: comment } %>
<% end %>

<p><%= link_to "add a new comment" , new_polymorphic_path([commentable, Comment.new]) -%></p>
