<ul>
<% if !current_user.member_of?(@community) %>
<li>
<%= form_tag  community_memberships_path(@community), method: :post do %>
  <%= submit_tag 'join' -%> 
  <% end %>
</li>
<% end %>

<li>
<%= link_to 'create a community alert', new_community_alert_path(@community) -%>
</li>

<li>
<%= link_to 'photos', gallery_community_path(@community) -%> 
</li>

<li>
<%= link_to 'report a maintenance issue', community_tickets_path(@community) -%> 
</li>

</ul>
