<% if @community.name.present? %>
<h2 class="community-name inline"><%= @community.name-%> </h2>	
<small>
<%= link_to 'edit' , edit_community_path(@community) -%> 
<% else %>
<%= link_to 'name your community' , edit_community_path(@community) -%> 
<% end %>
</small>
<h3><%= @community.address -%></h3>
<small><%= link_to pluralize(@community.memberships.count, 'member'), community_memberships_path(@community) -%></small>

<div id="landlord">
<%= render partial: '/communities/landlord' %>
</div>

<div id="map" style='width: 200px; height: 200px; margin:10px;'></div>
<communityimage>
<% if @community.photos.any? %>
  <%= cl_image_tag(@community.photos.first.path, { width: '220', crop: :scale}) %>
  <br>
  <%= link_to 'Change photo' , edit_community_path(@community) -%> 
<% else %>
  <%= link_to 'Add a photo', edit_community_path(@community) -%> 
<% end %>
<br />
<%= link_to "See all photos", community_photos_path(@community) -%>
</communityimage>

<communitymembership>

<%= link_to 'Invite your neighbors', new_community_user_invitation_path(@community) -%>
