<% if @community.name.present? %>
<h2 class="community-name inline"><%= @community.name-%> </h2>	
<%= link_to 'Change name' , edit_community_path(@community) -%> 
<% else %>
  <%= link_to 'Give your community a name' , edit_community_path(@community) -%> 
<% end %>

<h3><%= @community.address -%></h3>

<div id="map" style='width: 200px; height: 200px; margin:10px;'></div>

<communityimage>
<% if @community.photos.any? %>
  <%= cl_image_tag(@community.photos.first.path, { width: '220', crop: :scale}) %>
  <br>
  <%= link_to 'Change photo' , edit_community_path(@community) -%> 
<% else %>
  <%= link_to 'Add a photo', edit_community_path(@community) -%> 
<% end %>
<br />
<%= link_to "See all photos", community_photos_path(@community) -%>
</communityimage>

<communitymembership>

<% if @community.landlord.blank? %>
<%= link_to "Invite your landlord",  new_community_landlord_invitation_path(@community) -%>
<% end %>

<%= link_to 'Invite your neighbors', new_community_user_invitation_path(@community) -%>
