<p><%= link_to 'add a new post', new_community_post_path(@community) -%> </p>

<% if @posts.empty? %>
<p>There are no messages for this community.<p>
<% else %>

<% @posts.each do |post|%>
  <h3><%= post.title -%></h3> 
  <%= by_line(post)-%>
  <%= link_to 'view', community_post_path(@community, post) -%>
  <div class="post-body">
  <% if post.photos.any? -%>
    <%= cl_image_tag(post.photos.first.path, { size: '250x250', crop: :fit }) %>
  <% end %>
  <%= post.body -%>
  </div>
  <br />
    <%= render partial: 'comments', locals: {commentable: post }  -%>
  <% end %>
<% end %>
<br>
<%= paginate(@posts) -%>
