<p> <%= link_to 'add a new post', new_community_post_path(@community) -%> </p>

<% if @posts.empty? %>
<p>There are no messages for this community.<p>
<% else %>

<% @posts.each do |post|%>
  <p>
  <h2><%= post.title -%></h2> 
  <%= post.body -%>
  <br />
  by <%= post.user.email -%> @ <%= post.created_at.strftime(upstairs_time_format) -%>
  <%= link_to 'comment', new_post_comment_path(post) -%>
  <%= render partial: 'comments', locals: {commentable: post }  -%>
  <% end %>
  </p>
<% end %>


<%= paginate(@posts) -%>
