<p><%= link_to 'add a new post', new_community_post_path(@community) -%> </p>
<% if @posts.empty? %>
<p>There are no messages for this community.<p>
<% else %>

<% @posts.each do |post|%>
  <h3><%= post.title -%></h3> 
  <p class="byline"><%= post.user.email -%> posted @ <%= post.created_at.strftime(upstairs_time_format) -%></p>
  <div class="post-body">
  <%= post.body -%>
  </div>
  <%= link_to 'comment', new_post_comment_path(post) -%>
  <br />
    <%= render partial: 'comments', locals: {commentable: post }  -%>
  <% end %>
<% end %>
<br>
<%= paginate(@posts) -%>
