<community>
<left>
<h2><%= address(@community, ' ') -%></h2>
<% if @community.photos.any? %>
 <%= cl_image_tag(@community.photos.last.path, { width: '270', crop: :scale}) %>
<% end %>
<%= render partial: 'membership' -%>
</left>

<middle>
<%= render partial: 'activity' -%>
</middle>

<right>
<%= render partial: 'members' -%>
</right>

</community>

<dashboard>
<left>
<%= render partial: 'posts' -%>
</left>

<right>
  <%= render partial: 'categories' %>
  <%= render partial: 'classifieds' %>
</right>

</dashboard>
