<h5>Residents</h5>
<ul>
  <li>
    (<%= @building.tickets.open.count -%> open) <%= link_to "Tickets", building_tickets_path(@building) -%>
  </li>
  <li>
  <%= link_to 'Messages', building_messages_path(@building) -%>
  </li>
  <li>
  (<%= @building.tenants.count -%>)
  <%= link_to 'Residents', residents_building_path(@building) -%>
  </li>
  <li>
  (<%= @building.guests.count -%>)
   <%= link_to 'Guests', guests_building_path(@building) -%>
  </li>

  <li>
   <%= link_to 'Pending Approvals', '#' -%>
  </li>

</ul>

<h5>Building</h5>
<ul>
  <li>
    <small>
      <%= link_to "Units (#{@building.units.count})", building_units_path(@building) -%>
      <%= link_to "Occupied (#{@building.units.occupied.count})", building_units_path(@building, status: Unit::STATUS_OCCUPIED ) -%>
      <%= link_to "Vacant(#{@building.units.vacant.count})", building_units_path(@building, status: Unit::STATUS_VACANT) -%>
    </small>
  </li>

  <li>
  <%= link_to 'Vacancies', '#' -%>
  </li>

  <li>
  <%= link_to 'Waiting List', '#' -%>
  </li>


</ul>

<h5>Management</h5>
<ul>
  <li>
  On call: <%= link_to 'Jorge', '#' -%>
  </li>

  <li>
  <%= link_to 'Units', '#' -%>
  </li>

  <li>
  (<%= @building.managers.count -%>)
  <%= link_to 'Managers', managers_building_path(@building) -%>
  </li>

  <li>
   (3) <%= link_to 'Approved Vendors', vendors_building_path(@building) -%>
  </li>


</ul>
