<h4>Manage <%= @building.address -%> </h4>

<%= render partial: '/buildings/landlords/managers' %>

<%= render partial: '/buildings/landlords/tenants' %>

<%= render partial: '/buildings/landlords/guests' %>

<%= render partial: '/buildings/landlords/tickets' %>
