<h1>Dashboard</h1>


<h2>Managers</h2>
<% @building.managers.each do |manager| %>
<p><%= manager.email-%>
  <%= link_to 'revoke', 
	revoke_building_membership_path(@building, 
					manager.managership_of(building: @building) ,
					membership_type: Membership::MEMBERSHIP_TYPE_MANAGER), 
	method: :put -%>
</p>
<% end %>

<h2>Guests</h2>
<% @building.guests.each do |guest| %>
  <p><%= guest.email-%> 

  <%= link_to 'make manager', 
	grant_building_membership_path(@building, 
					guest.membership_of(building: @building),
					membership_type: Membership::MEMBERSHIP_TYPE_MANAGER), 
	method: :put -%>
  |
  <%= link_to 'make tenant', 
	grant_building_membership_path(@building, 
					guest.membership_of(building: @building),
					membership_type: Membership::MEMBERSHIP_TYPE_TENANT), 
	method: :put -%>
  </p>

<% end %>

<h2>Tenants</h2>
<% @building.tenants.each do |tenant| %>
  <p><%= tenant.email-%> 
    <%= link_to 'make manager of building', 
	grant_building_membership_path(@building, 
					tenant.membership_of(building: @building) ,
					membership_type: Membership::MEMBERSHIP_TYPE_MANAGER), 
	method: :put -%>
     |
    <%= link_to 'evict from building', 
	revoke_building_membership_path(@building, 
					tenant.membership_of(building: @building) ,
					membership_type: Membership::MEMBERSHIP_TYPE_TENANT), 
	method: :put -%>
  </p>
<% end %>

