<div id="menu">
    <div class="group homeLogo" >
        <%= upstairs_home_page_icon_small(id: 'home') %>
        <%= upstairs_home_page_icon(id: 'home') %>
    </div>
    <% if current_user.memberships.count > 1 %>
    <div class="group " >
        <nav role="navigation" id='nav' class=" nav left_nav_menu">
            <ul>
                 
               <li class='has-sub'>
                    <a href="javascript:void(0)">
                        <div class="building-selector"><div class="building-selector-text">Change building</div><div class="building-selector-icon icon">T</div>
                    </a>
                    </div>
                            
                  <ul class='last'>
                    <% current_user.buildings.where.not(id: @building.id).each do |building| -%>
                      <li ><%= link_to building.address[0..12], building_path(building) -%></li> 
                    <% end -%>
                  </ul>
               </li>
            </ul>
        </nav>
    </div>
    <% end %>
    <div class="group" id="dashboard">
        <div id="split">
            <div id="rectangle_7_copy_3"  ></div>
            <div id="rectangle_7_copy_2"  ></div>
        </div> 

        <%= bulletin_board_icon(user: current_user, building: @building) %>
        <%= calendar_icon(user: current_user, building: @building) %>
        <%= messages_icon(user: current_user, building: @building) %>
        <%= other_tenants_icon(user: current_user, building: @building) %>
    </div> 

    <div class="group" id="actions" >
         <div id="split">
            <div id="rectangle_7_copy_3"  ></div>
            <div id="rectangle_7_copy_2"  ></div>
        </div>   
        
        <%= alerts_icon(user: current_user, building: @building) %>
        <%= building_repairs_icon(user: current_user, building: @building) %>
        <!--%= invite_someone_icon(user: current_user, building: @building) %-->
    </div> 

    <div class="group" id="settings">
        <div id="split">
            <div id="rectangle_7_copy_3"  ></div>
            <div id="rectangle_7_copy_2"  ></div>
        </div> 
        <%= user_settings_icon(user: current_user, building: @builidng) %>
       <%= building_public_profile_icon(user: current_user, building: @building ) %>
    </div>  <div class="group" id="logOut">
        <div id="split">
            <div id="rectangle_7_copy_3"  ></div>
            <div id="rectangle_7_copy_2"  ></div>
        </div>
        
        <%= user_logout_icon(user: current_user, building: @builidng) %>
    </div> 

</div> 
