



<div id="menu">
    
    <div class="group" >
        <%= upstairs_home_page_icon_small(id: 'home') %>
        <%= upstairs_home_page_icon(id: 'home') %>
    </div>
    <div class="group" id="dashboard">
        <div id="split">
            <div id="rectangle_7_copy_3"  ></div>
            <div id="rectangle_7_copy_2"  ></div>
        </div> 

        <%= bulletin_board_icon(user: current_user, building: @building) %>
        <%= alerts_icon(user: current_user, building: @building) %>
        <%= calendar_icon(user: current_user, building: @building) %>
        <%= messages_icon(user: current_user, building: @building) %>
        <%= other_tenants_icon(user: current_user, building: @building) %>
    </div> 

    <div class="group" id="actions" >
         <div id="split">
            <div id="rectangle_7_copy_3"  ></div>
            <div id="rectangle_7_copy_2"  ></div>
        </div>   
        <%= building_repairs_icon(user: current_user, building: @building) %>
        <%= invite_someone_icon(user: current_user, building: @building) %>
    </div> 

    <div class="group" id="settings">
        <div id="split">
            <div id="rectangle_7_copy_3"  ></div>
            <div id="rectangle_7_copy_2"  ></div>
        </div> 
        <%= user_settings_icon(user: current_user, building: @builidng) %>
        <%= building_public_profile_icon(user: current_user, building: @building ) %>
	<%= link_to 'Log out', destroy_user_session_path, method: :delete  -%>
    </div> 

</div> 
