<!DOCTYPE html>
<html>
<head>
  <title>Upstairs</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body class="type-system-geometric">
<%= render partial: '/layouts/top_navigation' %>
<%= render partial: '/layouts/community_subnav' -%>
<%= render partial: '/layouts/flash' %>
<%= render partial: '/communities/alerts' %>

<div id= "main" class="type-system-geometric">
<community>
<% if @community.landlord.blank? %>
<div class="flash-notice"> 
<p>Your landlord is not currently a member of this community. Once your landlord has registered, they will be able to respond to your repair requests.</p>
<span> <%= link_to "invite your landlord",  new_community_landlord_invitation_path(@community) -%> </span> 
</p>
</div>
<% end %>
<communityleft>
<h3><strong><%= @community.name-%></strong></h3>
<%= address(@community, ' ')-%>

<communityimage>
<% if @community.photos.any? %>
  <%= cl_image_tag(@community.photos.last.path, { width: '220', crop: :scale}) %>
<% end %>
</communityimage>
<communitymembership>
<%= render partial: '/communities/messages' -%>
<%= render partial: '/communities/membership' -%>
<br clear="all">
</communitymembership>
<categories> <%= render partial: '/communities/categories' %> </categories>
<br clear="all">
 <activity> <%= render partial: '/communities/activity' -%> </activity>
</communityleft>
<communityright>
<communityfeed>
<%= yield %>
</communityfeed>
</communityright>
</community>
</div>
<%= footer %>
</body>
</html>
