<!DOCTYPE html>
<html>
<head>
  <title>Upstairs</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>
<%= render partial: '/layouts/top_navigation' %>
<%= render partial: '/layouts/community_subnav' -%>
<%= render partial: '/layouts/flash' %>
<%= render partial: '/communities/alerts' %>

<div id= "main">
<community>
<h4><%= address(@community, ' ') -%></h4>
<communityleft>
<communityimage>
<% if @community.photos.any? %>
  <%= cl_image_tag(@community.photos.last.path, { width: '170', crop: :scale}) %>
<% end %>
</communityimage>
<communitymembership>
<%= render partial: '/communities/membership' -%>
<%= render partial: '/communities/invitations' -%>
</communitymembership>

<communityfeed>
<%= yield %>
</communityfeed>

</communityleft>
<communityright>
 <%= render partial: '/communities/members' -%>
 <%= render partial: '/communities/activity' -%>
 <%= render partial: '/communities/categories' %>
</communityright>
</community>
</div>
<%= footer %>
</body>
</html>
