<!DOCTYPE html>
<html>
<head>
  <title>Upstairs</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>
<%= render partial: '/layouts/top_navigation' %>
<%= render partial: '/layouts/community_subnav' -%>
<%= render partial: '/layouts/flash' %>
<%= render partial: '/communities/alerts' %>

<div id= "main">
<community>
<h1><%= address(@community, ' ') -%></h1>
<% if @community.landlord.blank? %>
<div class="flash-notice"> 
<p>Your landlord is not currently a member of this community. Once your landlord has registered, they will be able to respond to your repair requests.</p>
<span> <%= link_to "invite your landlord",  new_community_landlord_invitation_path(@community) -%> </span> 
</div>
<% end %>

</p>
<communityleft>
<communityfeed>
<%= yield %>
</communityfeed>
</communityleft>

<communityright>
<communityimage>
<% if @community.photos.any? %>
  <%= cl_image_tag(@community.photos.last.path, { width: '220', crop: :scale}) %>
<% end %>
</communityimage>
<communitymembership>
<%= render partial: '/communities/membership' -%>
</communitymembership>
 <categories> <%= render partial: '/communities/categories' %> </categories>
 <classifieds> <%= render partial: '/communities/classifieds' %> </classifieds>
 <members><%= render partial: '/communities/members' -%> </members>
 <activity> <%= render partial: '/communities/activity' -%> </activity>
</communityright>
</community>
</div>

<%= footer %>

</body>
</html>
