<!DOCTYPE html>
<html>
<head>
  <title>Upstairs</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body class="type-system-geometric">
<%= render partial: '/layouts/top_navigation' %>
<%= render partial: '/layouts/community_subnav' -%>
<%= render partial: '/layouts/flash' %>
<%= render partial: '/communities/alerts' %>

<div id= "main" class="type-system-geometric">
<community>

<communityleft>

<%= render partial: '/communities/name' %>

<%= render partial: '/communities/messages' -%>
<%= render partial: '/communities/membership' -%>
<br clear="all">
</communitymembership>
<categories> <%= render partial: '/communities/categories' %> </categories>
<br clear="all">
 <activity> <%= render partial: '/communities/activity' -%> </activity>
</communityleft>
<communityright>
<communityfeed>
<%= yield %>
</communityfeed>
</communityright>
</community>
</div>
<%= footer %>
</body>
</html>
