<!DOCTYPE>
<html>
<head>
  <title>Upstairs - <%= @community.address -%></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <%= javascript_include_tag "application" %>

  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>

</head>
<body class="type-system-geometric">
<%= render partial: '/layouts/top_navigation' %>
<%= render partial: '/layouts/flash' %>
<%= render partial: '/communities/alerts' %>

<div id= "main" class="type-system-geometric">
<community>
<communityleft>
<%= render partial: '/communities/name' %>
<br clear="all">
<%= render partial: '/communities/messages' -%>
<br clear="all">
<%= render partial: '/communities/membership' -%>
<br clear="all">
</communitymembership>
<br clear="all">
<categories><%= render partial: '/communities/categories' %></categories>
<br clear="all">
 <activity> <%= render partial: '/communities/activity' -%> </activity>
</communityleft>
<communityright>
<communityfeed>
<%= yield %>
</communityfeed>
</communityright>
</community>
</div>

<%= footer %>

<script>
$(document).ready(function(){
 initialize($("div#map").get(0));
});

function initialize(element) {
  var latlng = new google.maps.LatLng(<%= @community.latitude-%>, <%= @community.longitude -%>);
  var myOptions = {
    zoom: 19,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.HYBRID
  };
  var map = new google.maps.Map(element, myOptions);
}
</script>

</body>
</html>
