<!DOCTYPE html>
<html>
<head>
  <title>Upstairs</title>
  <%= stylesheet_link_tag "homebundle", :media => "all" %>
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <link href='//fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <meta name="google-site-verification" content="o19wI1xJ_VjDZq9dl3ZGxCREMA9jqz6LLsyWjC0OhPY" />
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
    <%= favicon_link_tag 'fav_icon.ico' %>
</head>
<body class="type-system-geometric">

<%= render partial: '/layouts/top_navigation' %>
<div id="main">
<centered>
<%= yield %>
</centered>
</div>
<%= footer %>
</body>
</html>
